---
import Layout from "../components/layout.astro";
import "@fontsource-variable/jetbrains-mono";
import { WORK_EXPERIENCE } from "../config";
---

<Layout title="Contact Us">
  <div class="max-w-screen-lg mx-auto pb-24">
    <div class="bg-sky-800/60 rounded-lg p-4 mt-[60px] md:mt-[80px] mb-6">
      <div class="flex-col md:flex-row flex items-center justify-center gap-6 md:gap-10 h-full text-white">
        <div>
          <p class="font-mono text-lg md:text-xl text-white my-6 mb-5 text-center">
            ABOUT OUR BOUNCE HOUSE RENTAL SERVICES
          </p>
          <ul class="px-3">
            <li>
              Pricing is the fee for rental a unit, maximum is 8 hours within our business time 9 a.m to 8 pm of the
              day. If you want to keep it later than 8 pm or overnight rental, please let us know in advance, we are
              flexible with enough notice.
            </li>
            <li>Pricing is included works delivery, setup and pick up.</li>
            <li>When you book your favorite jumper, no payment is required until after setup.</li>
            <li>We accept payment when jumper is finished setup, via cash or check,  Seller etc...</li>
          </ul>
          <p class="font-mono text-lg md:text-xl text-white my-6 mb-5 text-center">WHY CHOOSE US</p>
          <ul class="px-3">
            <li>With many years of experience,  we proudly offer 5 - star services</li>
            <li>
              All our products are thoroughly cleaned and inspected for safety before each rental. We prioritize safety
              and sanitary with hope bring peace of mind to you and your kids
            </li>
            <li>
              Our friendly and professional team is dedicated to making your rental experience seamless and enjoyable. 
              We also are here to answer your questions and help you choose the best inflatables for your event.
            </li>
          </ul>
          <p class="px-5 py-6">
            Our service is in almost entire Bay areas: San Jose, Santa Clara. Milpitas, Sunnyvale, Mountain View,
            Cupertino, Campbell, Saratoga, Los Gatos, Palo Alto, Redwood, Morgan Hill, Gilroy, Fremont, Newark, Union
            City, Hayward, San Leando, San Mateo, etc.
          </p>
          <p class="px-5 pb-6">Please text or call to confirm service availability in your area.</p>
        </div>
        <div class="min-w-80 w-full">
          <div class="flex flex-col border border-white gap-4 p-4 pt-0">
            <img src="/logo_icon.png" alt="me" class="w-32 rounded-full mx-auto mt-4" />
            <ul class="flex flex-col gap-4 text-white m-0 mx-auto">
              <li class="flex flex-col text-xl font-bold">Contact Us</li>
              {
                WORK_EXPERIENCE.map((item) => (
                  <li class="flex flex-col">
                    <h4 class="text-lg">{item.company}</h4>
                    <div class="flex gap-2 justify-between text-white">
                      <p class="text-sm">{item.position}</p>
                    </div>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
