---
import Layout from "../components/layout.astro";
import "@fontsource-variable/jetbrains-mono";
import ChatBlock from "../components/chat-block.astro";
---

<Layout title="FAQs">
  <div class="max-w-screen-lg mx-auto pb-24">
    <div class="bg-sky-800/60 rounded-lg p-4 mt-[60px] md:mt-[80px] mb-6">
      <div class="flex-col md:flex-wrap flex gap-6 md:gap-10 h-full text-white">
        <p
          class="text-3xl md:text-4xl leading-9 md:leading-[60px] bg-clip-text text-center text-transparent bg-gradient-to-r from-[#F7C232] to-[#F7C232] font-logo font-black drop-shadow-[1px_1px_rgba(250,250,250,1)]"
        >
          FAQs
        </p>
        <ChatBlock rolPerson="Customer" textMsn="How far in advance do I need to book?"/>
        <ChatBlock rolPerson="Weekend Jumpers" textMsn="We recommend if you should reserve 2 weeks in advance. However you can call us anytime to check your favorite jumper is available"/>
        <ChatBlock rolPerson="Customer" textMsn="Do we have to put a deposit?"/>
        <ChatBlock rolPerson="Weekend Jumpers" textMsn="No, we will collect all rental fee just jumper is finished setup"/>
        <ChatBlock rolPerson="Customer" textMsn="Is there Cancelation fees?"/>
        <ChatBlock rolPerson="Weekend Jumpers" textMsn="No, but we ask in good terms that you tell us 2 days in advance so that other customers may be satisfied with their order"/>
        <ChatBlock rolPerson="Customer" textMsn="Do you deliver to my area?"/>
        <ChatBlock rolPerson="Weekend Jumpers" textMsn="Our warehouses are located in several areas in Bay. When you reserve on App, we will call back to confirm and ensure the delivery in your area"/>
        <ChatBlock rolPerson="Customer" textMsn="Can you set up on slanted driveway?"/>
        <ChatBlock rolPerson="Weekend Jumpers" textMsn="Yes, so as long as your driveway is in a size of 2 car garage width"/>
        <ChatBlock rolPerson="Customer" textMsn="Do you setup in Parks?"/>
        <ChatBlock rolPerson="Weekend Jumpers" textMsn="Yes, Weekend jumpers do setup in parks.  You need to contact to the park in advance to know the requirements needed to setup"/>
        <ChatBlock rolPerson="Customer" textMsn="How long does it take to setup and take down?"/>
        <ChatBlock rolPerson="Weekend Jumpers" textMsn="This process will  take about 20 minutes by our experienced crews"/>
        <ChatBlock rolPerson="Customer" textMsn="Do you have any kind of insurance?"/>
        <ChatBlock rolPerson="Weekend Jumpers" textMsn="Yes, we do have the manufacturers insurance for any malfunctioning of our products. SO, ADULTS SUPERVISION ARE REQUIRED AT ALL TIMES"/>
        <ChatBlock rolPerson="Customer" textMsn="What I will do if the blower suddenly go off?"/>
        <ChatBlock rolPerson="Weekend Jumpers" textMsn="Bring everyone get out of the jumper immediately, then check and perform followings:" listSection/>
        <ChatBlock rolPerson="Customer" textMsn="Will we setup if it is heavy rain?"/>
        <ChatBlock rolPerson="Weekend Jumpers" textMsn="No, due to safety for players and our employees, Weekend jumpers has a right to cancel if it is heavy rain or bad weather"/>
        <ChatBlock rolPerson="Customer" textMsn="How many children can use the jumper in safety?"/>
        <ChatBlock rolPerson="Weekend Jumpers" textMsn="Our products are equipped with safe stepping platform for kids to access in and out of the jump. Most of our products can accommodate anywhere maximum to 10 children at a time"/>
        <ChatBlock rolPerson="Customer" textMsn="How about REFUND if the venue will not allow jumper after the setup has been done?"/>
        <ChatBlock rolPerson="Weekend Jumpers" textMsn="NO, once the jumper has been setup, there will be NO REFUND, it  is the customer's responsibility to contact the place (parks, recreation center, community center, etc..) and make sure they allow the jumper to be setup. Also, it is the customer' responsibility to obtain the permit"/>
      </div>
    </div>
  </div>
</Layout>

<script>
  const projects = document.querySelectorAll(".project");
  projects.forEach((project) => {
    project.addEventListener("click", () => {
      window.location.href = `/projects/${project.id}`;
    });
  });
</script>
