---
// import ContactRow from "./contact-row.astro";
import { FOOTER_CONTENT } from "../config";
---

<footer class="bg-zinc-800/40 w-full h-15 flex items-center justify-center text-white py-6 px-8">
  <span class="hidden md:block"> © <span id="current-year"> </span> {FOOTER_CONTENT} </span>
  <!-- <ContactRow /> -->
</footer>

<script>
  const currentYear = new Date().getFullYear();
  document.getElementById("current-year")!.textContent = currentYear.toString();
</script>
