---
import { FOOTER_CONTENT, ALL_RIGHTS_RESERVED } from "../config";
const currentYear = new Date().getFullYear();
---

<footer class="bg-zinc-800/40 w-full h-15 flex items-center justify-center text-white py-6 px-8">
  <div class="container mx-auto flex items-center justify-center text-center">
    <span>Copyright © {currentYear} {FOOTER_CONTENT} <span class="inline-block">{ALL_RIGHTS_RESERVED}</span></span>
  </div>
</footer>
